.statistics {
	margin-top: 4em;
        margin-left: 25%;
}

.statistikElement {
	margin-bottom: 5%;
	
}

.statistics .listStyle {
	list-style-type: none;
	margin-left: 5%;
}

.statistic-container {
	width: 850px;
	margin-bottom: 3%;
	display: inline-block;
}

@media screen and (min-width:1200px) and (max-width:1400px)
{	
.statistics {
	margin-top: 4em;
        margin-left: 20%;
}
.statistic-container {
	width: 750px;
	margin-bottom: 5%;
	display: inline-block;
}
	
.statistics .listStyle {
	list-style-type: none;
	margin-left: 3%;
}	
}

@media screen and (min-width:760px) and (max-width:1200px)
{	
.statistics {
        margin-top: 4em;
        margin-left: 3%;
}
.statistic-container {
	width: 650px;
	margin-bottom: 5%;
	display: inline-block;
}
	
.statistics .listStyle {
	list-style-type: none;
	margin-left: 3%;
}	
}

.actionBox {
    border-radius: 5px;
    background-color: orange;
    color: black;
    padding: 15px;
    text-align: center;
    font-size: 2em;
    width: 100px;
    text-decoration: none;
}

@media screen and (max-width:760px)
{
    .statistics {
        margin-top: 4em;
        margin-left: 0%;
}
.statistic-container {
	width: 450px;
	margin-bottom: 7%;
	display: inline-block;
	padding-right: 8%;
}

.statistics .listStyle {
	list-style-type: none;
	margin-left: -2%;
}
}
