.loginDiv {
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 40%;
    padding: 10px;
}

.loginDiv input[type=submit] {
  width: 100%;
  display: block;
  height: 50px;
  margin-bottom: 10px;
  position: relative;
}

.loginDiv input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}