.statistics {
	margin-top: 4em;
	width: 95%;
}

.statistikElement {
	margin-bottom: 5%;
	
}

.statistics .listStyle {
	list-style-type: none;
	margin-left: 5%;
}


.statistic-container {
	width: 850px;
	margin-bottom: 3%;
	display: inline-block;
}


@media screen and (min-width:1200px) and (max-width:1400px)
{	
.statistic-container {
	width: 750px;
	margin-bottom: 5%;
	display: inline-block;
}
	
.statistics .listStyle {
	list-style-type: none;
	margin-left: 3%;
}	
}


@media screen and (min-width:760px) and (max-width:1200px)
{	
.statistic-container {
	width: 700px;
	margin-bottom: 5%;
	display: inline-block;
}
	
.statistics .listStyle {
	list-style-type: none;
	margin-left: 3%;
}	
}


@media screen and (max-width:760px)
{	
.statistic-container {
	width: 450px;
	margin-bottom: 7%;
	display: inline-block;
	padding-right: 8%;
}

.statistics .listStyle {
	list-style-type: none;
	margin-left: -2%;
}
}
