.statistics {
	margin-top: 5em;
}

.statistikElement {
	margin-bottom: 5%;
	
}

.statistics .listStyle {
	list-style-type: none;
}

.statistic-container {
	width: 700px;
	height: 450px;
	margin-bottom: 25px;
	display: inline-block;
}