@charset "utf-8";
.nav.navbar-nav.navbar-right li .notificationIcon {
	width: 3em;
	margin-top: 0.25em;
	margin-right: 20px;
	margin-left: 10px;
}
.container-fluid .navbar-header .navbar-brand.titleFormat {
	color: #FFFFFF;
	font-size: 1.25em;
	font-style: normal;
}
.nav.navbar-nav.navbar-right .dropdown .dropdown-toggle.navBarItems {
	font-size: 1em;
}
.nav.navbar-nav.navbar-right li .navBarItems {
	font-size: 1em;
}
.navbar.navbar-default.navbar-inverse.navbar-fixed-top.navbarSize {


}
.navbar.navbar-default.navbar-inverse.navbar-fixed-top.navbarMainFormat {
	padding-top: 0.5em;
	padding-bottom: 0.5em;

}
