@charset "utf-8";
.article {
	margin-top: 5em;
	margin-left: 3%;
}
.article .h4 {
	margin-top: 1%;
}
.article .btn-group .dropdown-menu.format {
	padding-left: 10px;
	padding-right: 10px;

}
.article .btn.btn-default.btn-statistikErstellen {
	float: left;
}
.article .btn.btn-default.btn-statistikHerunterladen {
	float: right;
	margin-right: 2%;
}
